{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}


<body>
    <body>
        <div class="container">
          <div class="row">
            <!-- Columna vacía de 2 columnas -->
            <div class="col-lg-2 d-none d-lg-block"></div>
      
            <!-- Columna principal de 8 al centro -->
            <div class="col-lg-8">

                <h1>Sobre Nosotros</h1>
                <div class="image" style="">
                    <img src="{% static 'core/img/Ferramas logo .png' %}" class="img-fluid w-100" alt="Fundacion" >
                </div>
                <br>
                <p>En FERREMAS, nos enorgullece ser tu aliado en el mundo de la construcción y la ferretería desde la década de los 50, en la comuna de Santiago, nos hemos consolidado como una de las distribuidoras líderes en la región metropolitana y con planes de expansión a lo largo de todo Chile.</p>
            
                <div class="">
                  <h2>Nuestra Misión:</h2>
                  
                  <p>Nuestra misión es ofrecer a nuestros clientes una experiencia de compra excepcional, proporcionando productos de alta calidad, asesoramiento experto y un servicio personalizado que satisfaga todas sus necesidades en proyectos de construcción y renovación.</p>
                  <div id="soldar">
                    <img src="{% static 'core/img/soldar.jpg' %}" class="img-fluid w-100" alt="Fundacion" >
                  </div>
                  <br>
                  <p>En FERREMAS, nos preocupamos por nuestra comunidad y el medio ambiente. Nos esforzamos por contribuir al desarrollo sostenible y apoyamos iniciativas locales que promueven el bienestar de nuestra sociedad y el cuidado de nuestro entorno natural.</p>
                </div>
                
                 
            </div>
      
            <!-- Columna vacía de 2 columnas -->
            <div class="col-lg-2 d-none d-lg-block"></div>
          </div>
        </div>
      
        
      </body> 
</body>



{% endblock contenido %}