
.c-item{
    height: 450px;
    position: relative;

    
}

.c-img{
    height: 100%;
    object-fit: cover;
}



.carta{
    min-height: 160px;
    min-width: 125px;
    max-width: 250px;
    justify-content: start;
} 

.carta-producto{
    color: black;
    min-height: 160px;
    min-width: 125px;
    max-width: 325px;
    
}
  #soldar{
    img{

      width: 100rem !important;
    }
   
   

  }

  